In [ ]:
#Primero guardamos el url y header para solo mandar a llamar los endpoints

In [5]:
import requests
import pandas as pd
url = 'https://api.coingecko.com/api/v3/'
headers = {
    "accept": "application/json",
    "x-cg-demo-api-key": "CG-key"
    }

endp_topten = 'coins/markets?vs_currency=usd&order=market_cap_desc&per_page=10&page=1'

In [37]:
response = requests.get(url+'coins/list', headers=headers)
response_coin =  response.json()
df_coin = pd.json_normalize(response_coin)

In [ ]:
#Obtenemos el tipo de dato y el tamaño maximo esto con el proposito de conocer y entender la estructura para la creacion de tablas de sql y limpieza 
#Repetimos el paso por cada endpoint.

In [39]:
dtypes = df_coin.dtypes.astype(str)
max_lengths = df_coin.astype(str).map(len).max()
pd.DataFrame({'dtype': dtypes,'max_length': max_lengths})

         dtype  max_length
id      object          70
symbol  object          38
name    object          71

In [25]:
df_coin.head()

                    id symbol                 name
0                    _    gib           ༼ つ ◕_◕ ༽つ
1               01coin    zoc               01coin
2               0chain    zcn                  Züs
3                 0dog   0dog         Bitcoin Dogs
4  0-knowledge-network    0kn  0 Knowledge Network

In [45]:
response = requests.get(url+'coins/markets?vs_currency=usd&order=market_cap_desc', headers=headers)
response_coin =  response.json()
df_market = pd.json_normalize(response_coin)

In [47]:
dtypes = df_market.dtypes.astype(str)
max_lengths = df_market.astype(str).map(len).max()
pd.DataFrame({'dtype': dtypes,'max_length': max_lengths})

                                    dtype  max_length
id                                 object          50
symbol                             object           7
name                               object          50
image                              object         105
current_price                     float64          10
market_cap                          int64          13
market_cap_rank                     int64           3
fully_diluted_valuation             int64          13
total_volume                      float64          13
high_24h                          float64          10
low_24h                           float64          10
price_change_24h                  float64          21
price_change_percentage_24h       float64           9
market_cap_change_24h             float64          19
market_cap_change_percentage_24h  float64           9
circulating_supply                float64          18
total_supply                      float64          17
max_supply                        float64          17
ath                               float64           9
ath_change_percentage             float64           9
ath_date                           object          24
atl                               float64          10
atl_change_percentage             float64          14
atl_date                           object          24
roi                               float64           3
last_updated                       object          24
roi.times                         float64          20
roi.currency                       object           3
roi.percentage                    float64          18

In [49]:
df_market.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated,roi.times,roi.currency,roi.percentage
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,79617.000000,1579632454494,1,1579632454494,5.412478e+10,83425.000000,...,-27.05467,2025-01-20T09:11:54.494Z,67.810000,1.169257e+05,2013-07-06T00:00:00.000Z,NaN,2025-04-10T18:30:11.169Z,NaN,NaN,NaN
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,1516.050000,182870859635,2,182870859635,2.423790e+10,1679.270000,...,-69.03958,2021-11-10T14:24:19.604Z,0.432979,3.487230e+05,2015-10-20T00:00:00.000Z,NaN,2025-04-10T18:30:15.799Z,24.425332,btc,2442.533204
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,0.999416,144285285634,3,144285285634,3.481881e+10,0.999967,...,-24.46349,2018-07-24T00:00:00.000Z,0.572521,7.456477e+01,2015-03-02T00:00:00.000Z,NaN,2025-04-10T18:30:04.150Z,NaN,NaN,NaN
3,ripple,xrp,XRP,https://coin-images.coingecko.com/coins/images...,1.960000,113776157330,4,195213374692,4.716611e+09,2.090000,...,-42.80266,2018-01-07T00:00:00.000Z,0.002686,7.226312e+04,2014-05-22T00:00:00.000Z,NaN,2025-04-10T18:30:11.800Z,NaN,NaN,NaN
4,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,573.950000,83747189751,5,83747189751,1.148137e+09,583.690000,...,-27.33247,2024-12-04T10:35:25.220Z,0.039818,1.439544e+06,2017-10-19T00:00:00.000Z,NaN,2025-04-10T18:30:10.868Z,NaN,NaN,NaN

In [87]:
response = requests.get(url+'search/trending', headers=headers)
response_trending =  response.json()
df_trending = pd.json_normalize(response_coin)

In [ ]:
#No se puede obtener de la misma manera que las anteriores

In [97]:
df_trending = pd.json_normalize(response_trending['coins']).head()
df_trending

,item.id,item.coin_id,item.name,item.symbol,item.market_cap_rank,item.thumb,item.small,item.large,item.slug,item.price_btc,...,item.data.price_change_percentage_24h.link,item.data.price_change_percentage_24h.sats,item.data.market_cap,item.data.market_cap_btc,item.data.total_volume,item.data.total_volume_btc,item.data.sparkline,item.data.content,item.data.content.title,item.data.content.description
0,notcoin,33453,Notcoin,NOT,258,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,notcoin,2.268128e-08,...,1.112872,-0.677477,"$183,837,014",2317.787558458006,"$25,204,055",317.3452720823287,https://www.coingecko.com/coins/33453/sparklin...,NaN,NaN,NaN
1,epic-chain,54734,Epic Chain,EPIC,838,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,epic-chain,1.659731e-05,...,0.508122,-1.478318,"$28,367,583",357.9033183610069,"$18,323,563",230.7271710819451,https://www.coingecko.com/coins/54734/sparklin...,NaN,NaN,NaN
2,babylon,55092,Babylon,BABY,252,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,babylon,1.022415e-06,...,0.746640,0.106725,"$189,132,712",2380.879658764514,"$280,942,380",3537.578373355538,https://www.coingecko.com/coins/55092/sparklin...,NaN,NaN,NaN
3,chain-2,24210,Onyxcoin,XCN,126,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,onyxcoin,1.923493e-07,...,67.015061,63.675675,"$511,956,802",6456.44910121261,"$292,920,793",3688.408498593204,https://www.coingecko.com/coins/24210/sparklin...,NaN,NaN,NaN
4,fartcoin,50891,Fartcoin,FARTCOIN,105,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,https://coin-images.coingecko.com/coins/images...,fartcoin,8.754053e-06,...,0.668710,-1.344113,"$694,006,210",8756.677187369647,"$338,951,764",4268.022616294706,https://www.coingecko.com/coins/50891/sparklin...,NaN,NaN,NaN

In [101]:
dtypes = df_trending.dtypes.astype(str)
max_lengths = df_trending.astype(str).map(len).max()
pd.DataFrame({'dtype': dtypes,'max_length': max_lengths})

                                 dtype  max_length
item.id                         object          10
item.coin_id                     int64           5
item.name                       object          10
item.symbol                     object           8
item.market_cap_rank             int64           3
...                                ...         ...
item.data.total_volume_btc      object          17
item.data.sparkline             object          51
item.data.content              float64           3
item.data.content.title         object           3
item.data.content.description   object           3

[83 rows x 2 columns]

In [75]:
response = requests.get(url+'coins/bitcoin/market_chart?vs_currency=usd&days=5', headers=headers)
response_coin =  response.json()
df_chart = pd.json_normalize(response_coin)

In [77]:
dtypes = df_chart.dtypes.astype(str)
max_lengths = df_chart.astype(str).map(len).max()
pd.DataFrame({'dtype': dtypes,'max_length': max_lengths})

                dtype  max_length
prices         object        4336
market_caps    object        4448
total_volumes  object        4388